header {
    width: 100%;
    height: 80px;

    background-color: #000000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}

header > img {
    width: 196px;
    height: 58px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

a {
    font-size: 16px;
    font-weight: 300;
    color: #EBECEC;
}

.dropdown-nav {
    background: none;
    display: flex;
    align-items: center;
    gap: 4px;
}

button {
    font-size: 16px;
    font-weight: 300;
    background-color: #EBECEC;
    padding: 12px 24px;
    border-radius: 20px;
}

.btn-primary {
    background-color: #5275FF;
    color: #EBECEC;
}

.btn-primary:hover {
    background-color: #0C1E66;
    cursor: pointer;
}

.btn-button:hover {
    background-color: #CFCFCF;
    cursor: pointer;
}

.buttons-nav {
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
}

/* Sessão "nav" */


main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Image-church.jpeg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    text-align: center;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 32px;
}

.aside-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.aside-actions {
    display: flex;
    gap: 16px;
}

aside > div > button {
    padding: 12px 24px;
    border: 1px solid #EBECEC;
    font-size: 16px;
    text-align: center;
    color: #EBECEC;
}

.btn-primeiro {
    background-color: #EBECEC;
    color: rgb(0, 0, 0);
}

.btn-primeiro:hover {
    background-color: #CFCFCF;
    cursor: pointer;
}

.btn-segundo {
    background-color: transparent;
    color: #5275FF;
    border: 1px solid #5275FF;
}

.btn-segundo:hover {
    background-color: #3452CC;
    color: white;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    max-width: 1200px;
}

.aside-content p {
    margin: 20px auto;
    font-size: 30px;
    color: #ffffff;
    width: 692px;
    height: 255px;
    font-family: "Roboto", sans-serif;
}


/* Sessão "main" */


section {
    background-color: #252525;
    color: #EBECEC;

    width: 100%;
    height: 850px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 112px 64px;
}

.section-content > h1 {
    color: #EBECEC;
    font-size: 40px;
    width: 460px;
    height: auto;
}

.section-content > p {
    padding-top: 118px;
    padding-bottom: 106px;
    font-size: 30px;
    color: #EBECEC;
    width: 441px;
    height: auto;
}


.section-actions {
    width: 645px;
    height: 647px;
    flex-shrink: 0; /* impede que encolha */
    border-radius: 8px;
    background-color: #aaa; /* placeholder até ter a imagem */
    overflow: hidden; /* garante que a imagem respeite o border-radius */
}

.section-actions img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.eventos-section {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventos-section > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #252525;
}

.section-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-saiba {
    padding: 10px 24px;
    border: 1px solid #5275FF;
    border-radius: 20px;
    background: transparent;
    color: #5275FF;
    font-size: 20px;
    cursor: pointer;
}

.btn-outros {
    background: none;
    border: none;
    padding: 0;
    font-size: 20px;
    color: #5275FF;
    cursor: pointer;
}

.eventos-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.evento-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.evento-item > p {
    padding-top: 131px;
    padding-bottom: 37px;
    font-size: 14px;
    text-align: center;
    color: #252525;
    font-family: "Roboto", sans-serif;
}

.evento-item > img {
    width: 100%;
    aspect-ratio: 3 / 4; 
    object-fit: cover;
    border-radius: 4px;
    background-color: #aaa; 
}